* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.menu-list {
    display: flex;
    gap: 1rem;
}

.header{
    display: none;
}

li {
    color: #999;
    list-style: none;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 5px;
    width: 94px;
    height: 2.5rem;
    background: hsl(26, 100%, 55%)hsl(25, 100%, 94%);
    border-radius: 8px 8px;
    box-shadow: inset -0.125rem 0.125rem 0;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.same {
    text-decoration: none;
    color: black;
}

li:hover,
.logo:hover {
    cursor: pointer;
    box-shadow: inset -0.125rem 0.125rem 0 currentcolor;
    background: linear-gradient(270deg, currentcolor calc(0% + .125rem), #fff 0);
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.1);
}

.nev {
    display: flex;
    justify-content: space-between;
    background-color: hsl(25, 100%, 94%);
    box-shadow: 0 0 10px 4px hsl(25deg 47% 88%);
    height: 4rem;
}

.logo {
    margin: 0 70px 0 1rem;
    padding: 8px;
    width: 136px;
    height: 2.8rem;
    background: hsl(25, 100%, 94%);
    border-radius: 8px 8px;
    box-shadow: inset -0.125rem 0.125rem 0;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*  */

.left {
    display: flex;
    align-items: center
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-icon {
    width: 40%;
}

.cart-icon {
    width: 28%;
}

:root {
    --color-1: #673ab7;
}
/* ******************************************************************************************* */
/* body {
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #c6cde0;
} */
.nev-option  {
     text-align: -webkit-center;
}
.nev-option li{
    margin-top: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

/*header*/
.header {
    background-color:hsl(25, 100%, 94%);;
    padding: 12px 0;
    position: relative;
    box-shadow: 0 0 10px 4px hsl(25deg 47% 88%)
}


.header .nav {
    padding: 0 15px;
}

.header .logo a {
    font-size: 30px;
    color: #1D2026;
    text-transform: capitalize;
}

.header .nav ul li {
    display: inline-block;
    /* margin-left: 40px; */
}

.header .nav ul li a {
    display: block;
    font-size: 16px;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    transition: all 0.5s ease;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
    color: black;
}

/* .header .nav ul li a{
    margin-bottom: 1rem;
} */

.header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-toggler {
    height: 43px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    left: 0;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 6px;
}

 @media(max-width: 991px) {  /****************************************************************************************/

    .nev-section{
        display: none;
    }
    .logo{
        text-align: center;
        padding-top: 5px;
    }
    .header{
        display: block;
    }


    .nav-toggler {
        display: flex;
    }

    .header .nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color:#cbe4cdb3;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0;
        visibility: hidden;
    }

    .header .nav ul li {
        display: block;
        /* margin: 0; */
    }

    .header #nav-check:checked~.nav {
        opacity: 1;
        visibility: visible;
    }

    .header #nav-check:focus~.nav-toggler {
        box-shadow: 0 0 15px #000000;
    }

    .header #nav-check:checked~.nav-toggler span {
        background-color: transparent;
    }

    .header #nav-check:checked~.nav-toggler span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .header #nav-check:checked~.nav-toggler span::after {
        top: 0;
        transform: rotate(-45deg);
    }
}